/* Adam Seid Tahir */

html, body {
    margin: 0;
}

/* Background animation */
#bg{
    width:100vw;
    height: 100vh;
    position: fixed;
    background-image: linear-gradient(0.15turn, #5becff 0%, #a45fff 25%, #ff70e7 50%, #ff7070 75%, #ffcd70 100%);
    background-size: 400%;
    animation: bganimation 10s infinite;
    z-index: -1;
}

/* Container of everything */
#root{
    display: flex;
    flex-direction: column;

}

#header {
    margin:17vh 0 0 0;
    position: relative;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    color: #ffffff;
}
    
/* Searchbar */
form {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

#search, #word, #language{
    height: 5vw;
    padding: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    border: 0;
    border-radius: 0;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.26);
    transition: all .2s linear;
    -webkit-appearance: none;
}

#word, #language {
    font-size: 0.9em;
    text-indent: 40px;
    
}

#word {
    width:30vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 1px solid lightgrey;
}

#language {
    width:15vw;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-y: 55%;
    background-position-x: 90%;
}

#search {
    width:10vw;
    color: white;
    font-size: 1.5em;
    background-color: #00ff9d;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#language:hover, #word:hover {
    background-color: #eeeeee;
}

#search:hover {
    background-color: #00e28b;
    cursor: pointer;
}

#language:hover{
    cursor: pointer;
}

#search:focus, #language:focus, #word:focus {
    outline: none;
}

/* Container for search result */
.container{
    display: grid;
    grid-template: "a b c d";
    margin: 10vh;
    padding:1%;
    width: min-content;
    align-self: center;
    flex-wrap: wrap;
    overflow: hidden;
}

/* Tile for every word in container */
.tile{
    display: flex;
    min-width: 240px;
    min-height: 65px;
    margin: 10px;
    padding: 1%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #00000034;
    color: grey;
    transition: all .2s linear;
}


.tile:hover{
    background-color: #00ff9d;
    cursor: pointer;
}

/* The words in container, the search-result */
a {
    width: 100%;
    height: 100%;
    align-self: center;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    line-height: 65px;
}

/* Error message */
.error{
    width: 100%;
    height: 100%;
    align-self: center;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-style: italic;
    text-align: center;
}

/* Modal window with word information */
#modal {
    position: fixed;
    top: 20vh;
    padding: 2% 4% 4% 4%;
    display: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif; 
    color:grey;
    align-self: center;
    opacity:0;
    border-radius: 15px;
    z-index: 2;
}

/* Text inside modal */
#modText {
    display: flex;
    flex-direction: column;
}

#modText ul {
    list-style-type: none;
    padding: 0;
}

#modText ul li {
    padding-top: 5%;
}

/* Shadow to darken rest of page while modal is open */
#shadow {
    display:none;
    opacity: 0;
    width:100vw;
    height:100%;
    position: fixed;
    background-color: #0000006c;
    z-index: 1;
}

.close {
    top: 2vh;
    right: 4vh;
    position: absolute;
    font-size: 2em;
    transition: all 0.2s linear;
}

.close:hover {
    color: black;
    cursor: pointer;
}

/* Animation for background */
@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Small laptop */
@media screen and (max-width: 1100px) {
    .container{
        grid-template: "a b c";
    }

    .close {
        top: 0vh;
        right: 1vh;
    }

    #header {
        font-size: 4em;
    }
}

/* Tablet */
@media screen and (max-width: 800px) {
    .container{
        grid-template: "a b";
    }

    #search, #word, #language{
        height: 10vw;
    }

    #word, #language {
        text-indent: 20px;
    }

    #header {
        font-size: 3em;
    }
}

/* Phone */
@media screen and (max-width: 500px) {
    .container {
        margin: 10% 0 0 0;
    }

    .tile {
        min-width: 120px;
        min-height: 45px;
    }

    form {
        margin-top: 10vh;
        flex-direction: column;
        align-items: center;
    }
    
    #search, #word, #language{
        width: 50vw;
        border-radius: 15px;
        margin: 1%;
        border: none;
    }

    a {
        font-size: 0.7em;
        line-height: 45px;
    }

    #modText h1 {
        font-size: 1.5em;
    }

    #modText ul li {
        font-size: 0.75em;
    }

    #header {
        margin-top: 10vh;
        font-size: 2em;
        width: 60%;
    }
}

/* 4K */
@media screen and (min-width: 2000px) {
    #word, #language {
        font-size: 2em;
    }

    #search {
        font-size: 3.5em;
    }

    .tile {
        min-width: 480px;
        min-height: 130px;
    }

    a {
        font-size: 2em;
        line-height: 130px;
    }

    #modText h1 {
        font-size: 4em;
    }

    #modText ul li {
        font-size: 2em;
    }

    #header {
        margin: 17vh 0 0 0;
        font-size: 10em;
    }
}